networks:
  default:
    name: auto-novel
    external: true

services:
  grafana:
    image: grafana/grafana:12.3.1
    depends_on:
      - prometheus
    restart: always
    environment:
      - GF_SERVER_ROOT_URL
      - GF_SECURITY_ADMIN_USER
      - GF_SECURITY_ADMIN_PASSWORD
    ports:
      - 3000:3000
    volumes:
      - ./data/grafana-provisioning:/etc/grafana/provisioning
      - ./data/grafana:/var/lib/grafana

  prometheus:
    image: prom/prometheus:v3.8.1
    restart: always
    volumes:
      - ./data/prometheus:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  node-exporter:
    image: prom/node-exporter:v1.9.1
    restart: always
    pid: host
    command:
      - --path.rootfs=/host
    volumes:
      - /:/host:ro,rslave

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.52.0
    devices:
      - /dev/kmsg:/dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
